@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
.footer {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 200px;
  background-color: #364f6b;
  text-align: left;
  align-content: center;
  justify-content: space-around;
  font-size: 14px;
  padding: 20px;
}
.footerText {
  display: flex;
  align-items: center;
}
.footerAdress {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footerIcons {
  margin: 5px 10px;
}
.partners {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footerLogoContainer {
  width: 250px;

  height: 50px;
  margin: 5px;
}
@media only screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
  }
}
