html,
body {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  min-height: calc(100vh - 60px);
  padding: 10px 10px;
  display: flex;
  margin: auto;
  height: auto;
}
@media only screen and (max-width: 720px) {
  main {
    width: 100vw;
    padding: 10px 10px;
  }
}
