.sidebar {
  position: absolute;
  top: 40px;
  left: 50%;
  z-index: 10;
  width: 50vw;
  height: calc(100% - 40px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #f0f0f0;
  color: steelblue;
  font-weight: bold;
}
.ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.li {
  margin-top: 30px;
}
.li:hover {
  color: blue;
}

@media only screen and (min-width: 600px) {
  .sidebar {
    display: none;
  }
}
