@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
.pageContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  width: 100%;
  min-height: 100%;
}
.aboutUs {
  width: 80%;
  height: auto;
}
.otherServices {
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 720px) {
  .homeContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
  }
  .aboutUs {
    width: 100%;
  }
  .socialIcon {
    color: #364f6b;
    margin: 20px 30px;
    font-size: 20px;
  }
}
