.container {
  margin-top: 150px;
}
.aboutText {
  box-sizing: border-box;
  color: #071a52;
  letter-spacing: 1px;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  background-color: #e3f2fd;
}
.btnHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn {
  border: none;
  width: 100px;
  height: 50px;
  background-color: cornflowerblue;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.socialIcon {
  color: #364f6b;
  margin: 20px 30px;
  font-size: 20px;
}
.social {
  width: 100%;
  display: flex;
  justify-content: center;
}
