.pageContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
  width: 100%;
  min-height: 100%;
}
.aboutUs {
  width: 60%;
  height: 700px;
}

@media only screen and (max-width: 720px) {
  .homeContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
  }
  .aboutUs {
    width: 100%;
  }
}
