@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
.nav {
  background-color: white;
  height: 150px;
  width: 100vw;
  padding: 5px 10vw 5px 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: teal;
  font-weight: bold;
  position: fixed;
  z-index: 10;
}
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  flex: 1;
}
.linksHolder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
.search {
  flex: 1;
}
.menu {
  display: none;
}
.sidebar {
  display: none;
}

.logo {
  width: 130px;
  height: 130px;
}
.webItem {
  display: flex;
  flex-direction: row;
}

.li {
  cursor: pointer;
  text-align: center;
  list-style: none;
}
.Link {
  line-height: 40px;
  padding: 0 20px 0 20px;
  cursor: pointer;
}
.Link:hover {
  list-style: none;
  background: dodgerblue;
  color: #fff;
  transition: all ease 0.3s;
}

.LinkWithSubmenu:hover {
  list-style: none;
  background: dodgerblue;
  color: #fff;
  transition: all ease 0.3s;
}

.logoLabel {
  padding-left: 10px;
  font-size: 20px;
}
.hamburger {
  display: none;
}
.LinkWithSubmenu {
  position: relative;
  height: 40px;
}

.LinkWithSubmenu:hover > .webSubmenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 40px;
  height: 200px;
  width: 250px;
  padding: 10px;
  text-transform: uppercase;
}
.LinkWithSubmenu:hover > .webSubmenu > *:hover {
  font-weight: bolder;
  transition: all ease 0.2s;
}
.webSubmenu {
  position: absolute;
  top: 40px;
  background: rgb(37, 122, 206);
  color: #fff;
  display: none;
}
@media only screen and (max-width: 700px) {
  .nav {
    padding-left: 10px;
  }
  .menu {
    display: block;
    width: 100%;
  }
  .sidebarOff {
    top: 150px;
    position: absolute;
    font-family: "Montserrat", sans-serif;
    right: -100vw;
    width: 50vw;
    min-height: 100vh;
    transition: 650ms;
  }

  .sidebar {
    display: block;
    font-family: "Montserrat", sans-serif;
    width: 60vw;
    height: 100vh;
    right: -10px;
    top: 150px;
    overflow-y: auto;
    position: fixed;
    background-color: rgba(13, 51, 60, 0.8);
    backdrop-filter: blur(10px);
    transition: 850ms;
  }
  .link {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    width: 100%;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    padding: 0px 0px;
  }
  .link:hover {
    background-color: royalblue;
    transition: 0.3s ease;
  }
  .menuIcon {
    margin: 0px 10px 0 10px;
  }
  .subMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2px 20px;
    font-size: 14px;
  }
  .subMenuOff {
    display: none;
  }

  .dropDown {
    position: absolute;
    cursor: pointer;
    right: 0;
    margin-right: 20px;
    font-size: 30px;
  }
  .nav {
    width: 100vw;
  }

  .logoContainer {
    margin-left: 10px;
  }
  .ul {
    display: none;
  }
  .linksHolder {
    display: none;
  }

  .hamburger {
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
  }

  .fabars {
    cursor: pointer;
    font-size: 25px;
  }

  .logoLabel {
    font-size: 15px;
  }
}
