.nav {
  background-color: white;
  height: 40px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: teal;
  font-weight: bold;
  position: fixed;
  z-index: 10;
}
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.hamburger {
  flex: 1;
}
.logo {
  width: 30px;
  height: 30px;
}
.ul {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.social {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialLinkIcon {
  margin-right: 20px;
  width: 20px;
  height: 20px;
}
.li {
  text-align: center;
  list-style: none;
  line-height: 40px;
  padding: 0 20px 0 20px;
  background-color: lightskyblue;
}
.li:hover {
  list-style: none;
  color: white;
  background-color: teal;
}

.logoLabel {
  padding-left: 10px;
  font-size: 20px;
}
.hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .ul {
    display: none;
  }
  .hamburger {
    display: flex;
    justify-content: center;
  }
  .hamburgerActive {
    display: flex;
    justify-content: center;
    background-color: red;
  }
  .fabars {
    cursor: pointer;
  }
  .social {
    display: none;
  }
  .logoLabel {
    font-size: 15px;
  }
}
@media only screen and (min-width: 600px) {
  .callContainer {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .logoContainer {
    justify-content: flex-end;
  }
  .social {
    justify-content: flex-start;
  }
}
