@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
.nav {
  background-color: white;
  height: 40px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: teal;
  font-weight: bold;
  position: fixed;
  z-index: 10;
}
.logoContainer {
  display: flex;
  align-items: center;
  margin-left: 10vw;
  justify-content: start;
  flex: 2;
}
.linksHolder {
  display: flex;
  flex: 1;
  justify-content: start;
  align-items: center;
  text-decoration: none;
}
.search {
  flex: 1;
}
.mobileLinks {
  display: none;
}
.mobileUl {
  display: none;
}

.logo {
  width: 30px;
  height: 30px;
}
.ul {
  display: flex;
  flex-direction: row;
}

.li {
  text-align: center;
  list-style: none;
  line-height: 40px;
  padding: 0 20px 0 20px;
  background-color: lightskyblue;
}
.li:hover {
  list-style: none;
  color: white;
  background-color: teal;
}

.logoLabel {
  padding-left: 10px;
  font-size: 20px;
}
.hamburger {
  display: none;
}

@media only screen and (max-width: 700px) {
  .mobileUl {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    right: -10px;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 60vw;
    top: 4px;
    height: 100vh;
    background-color: teal;
    transition: 850ms;
  }
  .mobileUlOff {
    top: 4px;
    position: absolute;
    right: -200px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    transition: 650ms;
  }

  .mobileLinks {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
  }
  .mobileLi {
    list-style: none;
    padding: 15px;
    color: white;
    margin: 10px auto;
    width: 100%;
    text-decoration: none;
  }
  .mobileLi:hover {
    background-color: royalblue;
  }

  .nav {
    width: 100vw;
  }

  .logoContainer {
    margin-left: 10px;
  }
  .ul {
    display: none;
  }
  .linksHolder {
    display: none;
  }

  .hamburger {
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
  }

  .fabars {
    cursor: pointer;
    font-size: 20px;
  }

  .logoLabel {
    font-size: 15px;
  }
}
